@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Criando o cadastro de Posts</h1>
    <p>Aprenda sobre <a href="https://docs.microsoft.com/aspnet/core">desenvolver app com ASP.NET Core</a>.</p>
</div>
